<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>AgriExpenseTT - Desktop Version</title>
    <link rel="stylesheet" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" href="/static/content/datepicker3.css" />
    <link rel="stylesheet" href="/static/content/buttons.css" />
    <link rel="stylesheet" href="/static/content/app.css" />
</head>
<body ng-app="AgriExpenseTT">


    <!-- Place all javascript files here -->

    <script src="/static/scripts/bootstrap.min.js"></script>
    <script src="/static/scripts/angular.min.js"></script>
    <script src="/static/scripts/lodash.min.js"></script>
    <script src="/static/scripts/jquery-2.1.1.min.js"></script>
    <script src="/static/scripts/bootstrap-datepicker.js"></script>
    <script src="/static/scripts/buckets.min.js"></script>

    <script>


        var app = angular.module('AgriExpenseTT', []);

        // Manager of global state
        app.service('GlobalService', function () {
            var that = this;
            this.base_url = "http://127.0.0.1:5555/";
            this.user_id = -12;

            this.generate_post_option = function (data, url) {

                var my_data = data;
                my_data['userId'] = that.user_id;

                return {
                    method: 'POST',
                    data: $.param(my_data),
                    url: url,
                    headers: { 'Content-Type': 'application/x-www-form-urlencoded' }
                };

            }
        });

        // Contoller to handle the switching of layouts
        app.controller('LayoutController',['$scope', function ($scope) {
            $scope.block = "menu";

            // Stack to keep track of layout navigation
            $scope.layout_history = new buckets.Stack();
            $scope.layout_history.add("menu");

            $scope.change_layout = function (layout_name) {
                $scope.block = layout_name;
                $scope.layout_history.add(layout_name);
                console.log(layout_name);
            }

            // Enables the user to go back to their previous page layout
            $scope.go_back = function () {
                if ($scope.layout_history.size() > 1) {
                    var curr = $scope.layout_history.pop();
                    $scope.change_layout($scope.layout_history.peek());
                }
            };

        }]);

        // Code to handle the purchases
        app.controller('PurchaseController', ['$scope', '$http', 'GlobalService', 
            function ($scope, $http, GlobalService) {

                $scope.model = {
                    resourceName: "",
                    resourceType: "",
                    qty: 0,
                    quantifier: "",
                    cost: 0.0,
                    date: ""
                };

                $scope.set_prop = function(prop_name, prop_val) {
                    $scope.model[prop_name] = prop_val;
                        
                }
                $scope.submit_purchase = function () {
                    console.log('Logging the data for this purchase');
                    var req = GlobalService.generate_post_option($scope.model, "http://127.0.0.1:5555/purchases/make");
                    $http(req).success(function (data) {

                        console.log('Received ' + data);
                        $scope.purchases.push(data);
                    });
                }

                $scope.purchases = [];
                $scope.types = ['Planting Materials', 'Fertilizers', 'Soil Amendments', 'Chemicals', 'Other'];
                $scope.resources = {};

                $scope.resources['Planting Materials'] = ["HOT PEPPER", "SWEET PEPPER", "PIGEON PEAS", "SOYABEAN – LEGUMES", "COCOA", "CITRUS",
                     "COCONUT", "GOLDEN APPLE \\ POMMECYTHERE", "MANGO", "WATERMELON", "CASSAVA", "DASHEEN",
                     "EDDOES","SWEET POTATO", "TANNIA", "YAM", "BROCCOLI", "CARROTS", "CABBAGE", "CAULIFLOWER",
                     "CHRISTOPHENE", "EGGPLANT \\ MELONGENE", "ESCALLION \\ CHIVE", "LETTUCE",
                     "ONIONS", "TOMATOES", 'CORN', "MALAY ROSE APPLE \\ POMMERAC"];

                $scope.resources['Fertilizers'] = ["Fersan (7.12.40 + 1TEM)", "Magic Grow (7.12.40 + TE HYDROPHONIC)", "Hydro YARA Liva (15.0.15)", "Techni - Grow (7.12.27 + TE)",
    "Ferqidd (10.13.32 + TE)", "Plant Prod (7.12.27 + TE)", "Flower Plus (9.18.36 + TE)", "Iron Chelate Powder (FE - EDTA)","Magnesium Sulphate (Mg SO4)", "12-24-12 FERTILIZER", "HARVEST MORE 10-55-10", "HARVEST MORE 13-0-44", "HARVEST MORE 5-5-45",
    "NPK 12-12-17", "UREA 46-0-0", "PLANT BOOSTER", "MIRACLE GRO ALL PROPOSE PLANT FOOD", "SCOTTS FLOWER AND VEGETABLE PLANT FOOD"];

                $scope.resources['Soil Amendments'] = ["Cow manure", "Compost", "Gypsum", "Limestone", "Sulphur", "Molasses", "Chicken manure", "Horse manure", "Calphos",
   "Sharp sand"];

                $scope.resources['Chemicals'] = ["Fungicide", "Insecticide", "Weedicide", "Algicides", "Antimicrobials", "Biopesticides", "Biocides", "Fumigants",
    "Herbicides", "Miticides", "Microbial pesticides", "Molluscicides", "Nematicides", "Ovicides", "Pheromones",
    "Repellents", "Rodenticides"];

                $scope.units = ['Kg', 'Bags', 'Oz', 'Sticks', 'Seeds', 'Seedling'];

            }]);

        
       
        
       
        
       

        // Code to handle the creation and the reading of puchase records

        //Service that reads the purchases made by the user in the database

        // Controller to handle the creation of a new cycle
        app.controller('CycleCreationController', ['$scope', '$http', 'GlobalService',
            function ($scope, $http, GlobalService) {
            $scope.model = {
                crop: "",
                landQuantifier: "",
                landQty: 0.0,
                date: ""
            };

            $scope.units = ['Acres', 'Hectares'];
            $scope.resources = ["HOT PEPPER", "SWEET PEPPER", "PIGEON PEAS", "SOYABEAN – LEGUMES", "COCOA", "CITRUS",
                          "COCONUT", "GOLDEN APPLE \\ POMMECYTHERE", "MANGO", "WATERMELON", "CASSAVA", "DASHEEN",
                          "EDDOES", "SWEET POTATO", "TANNIA", "YAM", "BROCCOLI", "CARROTS", "CABBAGE", "CAULIFLOWER",
                          "CHRISTOPHENE", "EGGPLANT \\ MELONGENE", "ESCALLION \\ CHIVE", "LETTUCE",
                          "ONIONS", "TOMATOES", 'CORN', "MALAY ROSE APPLE \\ POMMERAC"];

            $scope.submit_cycle = function () {
                console.log('Submitting new cycle');
                var req = GlobalService.generate_post_option($scope.model, 'http://127.0.0.1:5555/cycles/new');
                $http(req).success(function (data) {
                    console.log('Received ' + data);

                });
            };

            $scope.update_model = function (prop_name, prop_val) {
                $scope.model[prop_name] = prop_val;
            };


        }]);

        // Controller to hire labour
        app.controller('HireLabourController', ['$scope', function ($scope) {

            $scope.model = {
                resourceType: 'Labour',
                resourceName: ''
            };

            $scope.labour_units = ['Hours', 'Days', 'Cycles'];

            $scope.update_model = function (prop_name, prop_val) {
                $scope.model[prop_name] = prop_val;
            };

        }]);

        app.service('CycleUsageService', ['$http', function ($http) {

            var that = this;

            this.submit_cycle_use = function (id, obj) {
                
            }

        }]);

        app.controller('ManageResourcesController', ['$scope', function ($scope) {
            $scope.tab = "manage-cycles";
            $scope.tabs = ["manage-cycles", "manage-purchases", "manage-resources"];
            $scope.set_tab = function (tab) {
                console.log('Setting the tab to ' + tab);
                $scope.tabs.forEach(function (tab) {
                    var elem = $('#' + tab).attr('class', 'btn btn-success');
                });
                $('#' + tab).attr('class', 'btn btn-primary');
                $scope.tab = tab;
            };

            


        }]);

        app.controller('ManageDataController', ['$scope', function ($scope) {

            $scope.tab = "data-selection";
            $scope.tab2 = "edit-cycles";
            $scope.types = ['Planting Materials', 'Fertilizers', 'Soil Amendments', 'Chemicals', 'Other'];
            $scope.model = {};
            $scope.buttons_tab = new buckets.Set();
            $scope.buttons_tab.add('edit-cycles');
            $scope.buttons_tab.add('edit-purchases');

            $scope.set_tab = function (tab) {
                console.log('Managing the data for ' + tab + ' tab');
                $scope.tab = tab;


            }


            $scope.set_tab2 = function (tab) {
                console.log(tab);
                console.log($scope.buttons_tab);
                if ($scope.buttons_tab.contains(tab)) {
                    $scope.buttons_tab.forEach(function (str) {
                        console.log(str);
                        $('#' + str).attr('class', 'btn btn-success');
                    });
                    $('#' + tab).attr('class', 'btn btn-primary');
                }
                $scope.tab2 = tab;


            }

            $scope.update_model = function (prop_name, prop_val) {
                $scope.model[prop_name] = prop_val;
            }

            $scope.submit_new_resource = function () {
                console.log('Sumbittng new resoure');
            }

        }]);

        // Service that writes purchases to the database
        app.service('PurchaseInsertService', ['$http', 'GlobalService',
            function ($http, GlobalService) {
                var that = this;
                this.url = GlobalService.base_url + "purchases/make";
                this.insert_purchase = function (resourceType, resourceName, qty, quantifier, cost, date, resp) {
                    var data = $.param({
                        userId: GlobalService.user_id,
                        date: date,
                        type: resourceType,
                        cost: cost,
                        qty: qty,
                        quantifier: quantifier
                    });

                    $http(GlobalService.generate_post_option(data, url)).success(resp);
               
                }
            }])

    </script>


    <!-- Place all html markup for application here -->
    {% raw %}


    <div class="row">


        <div class=" container body-content">


            <!-- From here we shall emply ng-switches to control the layout of
                 the application-->
            <div class="animate-switch-container main-container" ng-controller="LayoutController"
                 ng-switch on="block">

                <!-- This is the control menu for user to select their desired operations -->
                <div class="animate-switch" ng-switch-when="menu">
                    <div class="list-group">
                        <div class="list-group-item">
                            <button type="button" ng-click="change_layout('make-purchase-stage-1')"
                                    class="btn btn-fresh text-uppercase btn-lg">
                                Make Purchases
                            </button>
                        </div>

                       <div class="list-group-item">
                           <button type="button" ng-click="change_layout('cycle-stage-1')"
                                   class="btn btn-fresh text-uppercase btn-lg">
                               Create New Cycle
                           </button>
                       </div>

                        <div class="list-group-item">
                            <button type="button" class="btn btn-fresh text-uppercase btn-lg">
                                Hire Labour
                            </button>
                        </div>

                       <div class="list-group-item">
                           <button type="button" ng-click="change_layout('manage-resources')"
                                   class="btn btn-fresh text-uppercase btn-lg">
                               Manage Resources
                           </button>
                       </div>

                        <div class="list-group-item">
                            <button type="button" ng-click="change_layout('manage-data')"
                                    class="btn btn-fresh text-uppercase btn-lg">
                                Manage Data
                            </button>
                        </div>

                        <div class="list-group-item">
                            <button type="button" class="btn btn-fresh text-uppercase btn-lg">
                                Generate Report
                            </button>
                        </div>

                        <div class="list-group-item">
                            <button type="button" class="btn btn-fresh text-uppercase btn-lg">
                                Sync Data 
                            </button>
                        </div>
                    </div>
                </div>
                <!-- end of menu -->

                <!-- Code to handle the creation of purchases comes here -->

                <div ng-controller="PurchaseController">
                    <!-- To select type of resource to purchase -->
                    <div class="animate-switch" ng-switch-when="make-purchase-stage-1">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="type in types"
                                 ng-click="change_layout(type + '-purchase'); set_prop('resourceType', type)">
                                <div>{{type}}</div>
                            </div>
                        </div>
                    </div>

                    
                    <div ng-switch-when="Planting Materials-purchase">

                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="r in resources['Planting Materials']"
                                 ng-click="change_layout('purchase-stage-3'); set_prop('resourceName', r)">
                                {{r}}
                            </div>
                        </div>

                    </div>

                    <div ng-switch-when="Fertilizers-purchase" >

                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="r in resources['Fertilizers']"
                                 ng-click="change_layout('purchase-stage-3'); set_prop('resourceName', r)">
                                {{r}}
                            </div>
                        </div>

                    </div>

                    <div ng-switch-when="Soil Amendments-purchase">

                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="r in resources['Soil Amendments']"
                                 ng-click="change_layout('purchase-stage-3'); set_prop('resourceName', r)">
                                {{r}}
                            </div>
                        </div>

                    </div>

                    <div ng-switch-when="Chemicals-purchase">

                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="r in resources['Chemicals']"
                                 ng-click="change_layout('purchase-stage-3'); set_prop('resourceName', r)">
                                {{r}}
                            </div>
                        </div>

                    </div>

                    <div ng-switch-when="Other-purchase">
                        
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="Name">Resource Name</label>
                                    <input class="form-control" id="Name" type="text" ng-model="model.resourceName" />
                                </div>

                                <div class="form-group">
                                    <label for="Quantifier">Quantifier</label>
                                    <input class="form-control" id="Quantifier" type="text" step="any" ng-model="model.quantifier" />
                                </div>

                                <div class="form-group">
                                    <label for="Number">Number of Units</label>
                                    <input class="form-control" id="Number" type="number" step="any" ng-model="model.qty" />
                                </div>

                                <div class="form-group">
                                    <label for="Date">Date of Purchase</label>
                                    <input data-provide="datepicker" id="Date" class="form-control" ng-model="date" />
                                </div>

                                <div class="form-group">
                                    <label for="Cost">Cost of all units</label>
                                    <input class="form-control" id="Cost" type="number" step="any" ng-model="model.cost" />
                                </div>
                                <div class="form-group">
                                    <buttonn class="form-control btn btn-primary" ng-click="change_layout('menu'); submit_purchase()">
                                        Finish Purchase
                                    </buttonn>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                    <div ng-switch-when="purchase-stage-3">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label>Quantifier</label>
                                    <select class="form-control" ng-options="unit for unit in units" ng-model="model.quantifier"></select>
                                </div>
                                <div class="form-group">
                                    <label>Quantity</label>
                                    <input class="form-control" type="number" step="any" ng-model="model.qty" />
                                </div>
                                <div class="form-group">
                                    <label for="Date">Date of Purchase</label>
                                    <input data-provide="datepicker" id="Date" class="form-control" ng-model="date" />
                                </div>
                                <div class="form-group">
                                    <label for="Cost">Cost of all units</label>
                                    <input class="form-control" id="Cost" type="number" step="any" ng-model="model.cost" />
                                </div>
                                <div class="form-group">
                                    <button class="form-control"
                                            ng-click="change_layout('menu'); submit_purchase()">
                                        Finish Purchase
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>

                   
                         

                <!-- Finish the handling of the pucrchases -->


                <!-- Code to handle the creation of cycles -->
                <div>



                </div>

                <!-- Finish the creation of cycles -->


                <!-- Code to hire labour -->

                <div>

                </div>

                <!-- Finish hire labour-->

                <!-- Code to manage data comes here -->
                <div>

                </div>
                <!-- Finish management of data -->

            </div>

                <!-- Finish -->

                <!-- Code to handle the creation of purchases -->

                <div ng-controller="CycleCreationController">

                    <div class="animate-switch" 
                         ng-switch-when="cycle-stage-1">
                       <div class="list-group">
                           <div class="list-group-item"
                                ng-repeat="crop in resources"
                                ng-click="update_model('resourceName', crop); change_layout('cycle-stage-2')">
                               {{crop}}
                           </div>
                       </div>
                    </div>

                    <div class="animate-switch"
                         ng-switch-when="cycle-stage-2">
                        <div class="list-group">
                            <div class="list-group-item"
                                 ng-repeat="unit in units"
                                 ng-click="update_model('landQuantifier', unit); change_layout('cycle-stage-3')">
                                {{unit}}
                            </div>
                        </div>
                    </div>

                    <div class="animate-switch"
                         ng-switch-when="cycle-stage-3">
                        <form class="form-horizontal">
                            <fieldset>
                                <div class="form-group">
                                    <label for="Quantity">Quantity of land used</label>
                                    <input class="form-control" type="number" step="any" ng-model="model.landQty" />
                                </div>
                                <div class="form-group">
                                    <label for="Date">Start of Cycle (Date)</label>
                                    <input data-provide="datepicker" id="date" class="form-control" ng-model="date" />
                                </div>
                                <div class="form-group">
                                    <button ng-click="submit_cycle(); change_layout('menu')"
                                            class="btn btn-primary">
                                        Submit
                                    </button>
                                </div>
                            </fieldset>
                        </form>
                    </div>
                </div>

                <!-- Finish -->

                <!-- Hire Labour controller -->

                <div ng-controller="HireLabourController">

                </div>

                <!-- Finish -->

                <!-- Manage Resources -->

                <div ng-controller="ManageResourcesController">


                    <div ng-switch-when="manage-resources">

                        <!-- Insert navbar here -->

                        <div class="btn-group btn-group-justified">

                            <a href id="manage-cycles" class="btn btn-primary"
                               ng-click="set_tab('manage-cycles')">Cycles</a>
                            <a href="#" id="manage-purchases" 
                               class="btn btn-success"
                               ng-click="set_tab('manage-purchases')">Purchases</a>
                            <a href="#" id="manage-resources"
                               class="btn btn-success"
                               ng-click="set_tab('manage-resources')">Resources</a>


                        </div>

                        <!-- End the navbar here -->
                        <div ng-switch on="tab">

                            <div ng-switch-when="manage-cycles">
                                Managing the cycles
                            </div>

                            <div ng-switch-when="manage-purchases">
                                Managing the purchases
                            </div>

                            <div ng-switch-when="manage-resources">
                                Managing the resources
                            </div>

                        </div>

                    </div>


                </div>
            
                <!-- Finish -->

                <!-- Code to manage the data -->


                <div ng-controller="ManageDataController">

                    <div ng-switch-when="manage-data">

                        <div ng-switch on="tab">


                            <div ng-switch-when="data-selection">

                                <div class="center-block btn-group-vertical">

                                    <a href="#" class="btn btn-success"
                                       ng-click="set_tab('add-data')">ADD DATA</a>
                                    <a href="#" class="btn btn-success"
                                       ng-click="set_tab('edit-data')">EDIT DATA</a>

                                </div>

                            </div>


                            <div ng-switch-when="add-data">

                                <div class="list-group">
                                    <div class="list-group-item"
                                         ng-repeat="type in types"
                                         ng-click="update_model('type', type); set_tab('add-data-1')">
                                        {{type}}
                                    </div>
                                </div>
                                
                            </div>

                            <div ng-switch-when="add-data-1">
                                <form ng-submit="sumbit_new_resource()">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="ResourceName">Name of resource</label>
                                            <input class="form-control" id="ResourceName" type="text" ng-model="model.resourceName" />
                                        </div>
                                        <div class="form-group">
                                            <button class="form-control btn btn-primary"
                                                    ng-click="submit_new_resource(); change_layout('menu')"
                                                    >Submit</button> 
                                        </div>
                                    </fieldset>
                                </form>
                            </div>


                            <div ng-switch-when="edit-data">
                                
                                <div class="btn-group btn-group-justified">

                                    <a href id="edit-cycles" class="btn btn-primary"
                                       ng-click="set_tab2('edit-cycles')">Cycles</a>
                                    <a href="#" id="edit-purchases"
                                       class="btn btn-success"
                                       ng-click="set_tab2('edit-purchases')">Purchases</a>
                                    

                                </div>

                                <div ng-switch on="tab2">

                                    <div ng-switch-when="edit-cycles">
                                        Editing cycles
                                    </div>

                                    <div ng-switch-when="edit-purchases">
                                        Editing purchases
                                    </div>


                                </div>

                            </div>
                            

                        </div>

                    </div>

                </div>


                <!-- Finish -->

        </div>


    </div>



    {% endraw %}


</body>
</html>